# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales (venv)
venv/
.venv/
env/
bin/
include/
lib/
share/

# Variables de entorno y secretos (.env)
.env
.env.local
.env.dev
.env.test
.env.prod
*.env
.flaskenv

# Bases de datos locales
db.sqlite3
db.sqlite3-journal

# Editor (VS Code)
.vscode/

*.db

keys/

logs/